/* font family */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* *{
  margin: 0;
  padding: 0;
} */

/* shared styles */
 .color-primary{
  color: #4E47FF;
 }

 .text-primary{
  color: #252432;
 }

.btn-primary{
  background-color: #4E47FF;
  color: #FFFFFF;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

/* header */
.header{
  background-image: url('../Assets/Hero-bg.png');
  background-position: 100%;
}

/* nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.logo{
  font-weight: 800;
  font-size: 45px;
  color: #4E47FF;
}

nav a{
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */
.banner-title{
  font-weight: bold;
  font-size: 65px;
  margin-top: 158px;
}

.banner-content{
  justify-content: center;
  text-align: center;
}

.button{
  margin-bottom: 200px;
}

/* action styles */
.action{
  display: flex;
  justify-content: space-between;
  margin: 100px 0;

}

.action-content{
  max-width: 517;
}

.action-title{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}

.action-description{
  font-size: 24px;
  color: #474747;
}

/* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* .action-img{
  width: 403px;
  height: 328px;  
} */

/* users styles */
.users{
  background-color:rgba(150, 222, 255, 0.693);
  max-width: 1150px;
  max-height: 306px;
  border-radius: 24px;
  padding: 50px 80px;
}

.users-title{
  font-weight: bold;
  font-size: 38px;
  color: #252432;
  text-align: center;
  margin: 0 80px;
  
}

.users-items{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 40px;
}

.item-title{
  font-weight: bold;
  font-size: 80px;
  color: #4E47FF;
  margin: 0 80px;
}

.item-description{
  font-size: 20px;
  color: #474747;
  margin: 0 80px;
  
}

/* testimonial section */

.testimonials-section h2{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  text-align: center;
  margin: 50px auto;
}

.testimonial-cards-container{
  display: flex;
  justify-content: space-around;
}